
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #e5e5f7;
    opacity: 0.1;
    background-image:  linear-gradient(135deg, #b0b0b0 25%, transparent 25%), linear-gradient(225deg, #b0b0b0 25%, transparent 25%), linear-gradient(45deg, #b0b0b0 25%, transparent 25%), linear-gradient(315deg, #b0b0b0 25%, #e5e5f7 25%);
    background-position:  40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
}

.header {
    margin-inline: auto;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
}

.header p {
    max-width: 500px;
    margin-top: 1rem;
    margin-inline: auto;
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 250px;
    display: grid;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#export-wrapper {
    padding: 8px;
}

.button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    background: white;
    -webkit-font-smoothing: antialiased;
}

.control {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 1rem;
    margin-inline: auto;
    border: 1px solid gainsboro;
    background: white;
    gap: 1rem;
}

.control > div {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 1fr;
}

.control input[type=text] {
    width: calc(100% - 1rem);
    padding: .5rem;
    cursor: text;
}

.control input[type=range] {
    padding: 0;
}

.control input[type=checkbox], .control input[type=color], .control input[type=range] {
    cursor: pointer;
}

.control input[type=color] {
    width: 100%;
    height: 2.75rem;
    padding: 0;
    background: none;
    border: none;
}

.control-gradient {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr 60px !important;
    gap: .5rem;
}

.control-gradient label {
    display: block;
    margin-bottom: .5rem;
}

.control-gradient input[type=number] {
    width: 35px;
    height: 2.1rem;
}

.save-button {
    width: fit-content;
    padding: .75rem 3rem;
    background: royalblue;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
